{% extends 'base.html.twig' %}

{% block body %}
  <div class="operations-doc">
    <div class=usage>
      <h3>Introduction</h3>
      <br />
      <h3>Request</h3>
      <p>Each entity manipulations are made through it's own URI and the service supports four (4) methods.</p>
      <p>All available possibilities are described below (click to expand).</p>
      <p>Each <strong>request</strong> (for PUT/POST/DELETE) has the following structure:</p>
      <pre>{
    "credentials":{
        "agencyId": {type: String, Required},
        "key":      {type: String, Required}
    },
    "body":{
        ...
    }
}</pre>
      <br />
      <p>The <em>body</em> section is a collection of fields that a certain node consists of.</p>
      <p>The structure is not strict (yet) and the recommended structure of each field representation shall be:</p>
      <pre>"{type: String}":{
      "name": {type: String}",
      "value": {type: String},
      "attr": {type: Collection}
}
      </pre>
      <p>A <em>title</em> field example representation looks like:</p>
      <pre>"title":{
      "name":"Title",
      "value":"Alpha editorial",
      "attr":[]
}</pre>
      <p>If a field is an <em>image</em> field, the <em>value</em> property is an encoded value of the image contents using base64 encoding.</p>
      <p>For the server to capture the actual image and create a physical file, the <em>attr</em> collection should have a key/value pair with the file mime of the image.</p>
      <p>Curently supporting mime types are JPG/JPEG/PNG/GIF.</p>
      <p>For example:</p>
      <pre>"field_background_image":{
      "name":"Backgound image",
      "value":"R0lGODlh/AGM...",
      "attr":{
            "filemime":"image/gif"
      }
}</pre>
      <p>The <em>value</em> property will be replaced by the relative path to the file (if teh file could be created).</p>
      <p>To create a URL to this file, prepend the path in the field with webservice URL used for communication.</p>
      <p>For example the webservice url is <em>http://example.com/web/</em> and the image path is <em>files/100000/4d869d74713a19a622d2dab252f9b8dc.gif</em></p>
      <p>The resulting URL for the image is <em>http://example.com/web/files/100000/4d869d74713a19a622d2dab252f9b8dc.gif</em></p>
      <br />
      <p>The <em>credentials</em> section is used for basic authorisation and the <em>body</em> defines the entity that has to manipulated.
      <p>Best to note the <em>key</em> parameter.</p>
      <p>It is used for creating a basic signature of the request, so one agency could not access or modify data owned by another agency.</p>
      <p>This is a SHA1 hash created from agency id thus unique hash (<em>key</em> field) stored for each agency record in the MongoDB, in Agency collection.</p>
      <p>For example, let's say that we have an agency <em>996000</em> with unique stored key value as <em>3fa</em>.</p>
      <p>To be able to access the service, it is required to generate a hash, that is to be passed in the <em>key</em> property of the request.</p>
      <p>For PHP apps, this would use this sample code:</p>
      <pre>$agencyId = '996000';
$agencyKey = '3fa';
$key = sha1($agencyId . $agencyKey); // 952933c6ef9962f26e919f05637bb7e6061f064f</pre>
      <p>This way the request would look like:</p>
      <pre>{
    "credentials":{
        "agencyId": "996000",
        "key":      "952933c6ef9962f26e919f05637bb7e6061f064f"
    },
    "body":{
        ...
    }
}</pre>
    <p>In case of a <strong>GET</strong> request, the <em>agencyId</em> and <em>key</em> are passed in the URL itself.</p>
    <br />
    <h3>Response</h3>
    <p>Each <strong>response</strong> is a JSON object with the following structure:</p>
    <pre>{
  "status":  {type: Boolean},
  "message": {type: String},
  "items":   {type: Array, Not used}
}</pre>
    <p>Where <em>status</em> property is either TRUE or FALSE, denoting the success of the request.</p>
    <p><em>message</em> will contain a status message, depending on the <em>status</em> property.</p>
    <p><em>items</em> property is populated only when retrieving content (see <strong>/content/fetch</strong>).</p>
    </div>
    <br />
    <!-- /content -->
    <div class="operation">
        <h3>/content</h3>
        <div class="operation-methods">
            <div class="operation-method put">
                <div class="heading">
                    <p><strong><span class="method">PUT</span> /content</strong> <em>Create new content entry</em></p>
                </div>
                <div class="method-doc">
                    <div class="doc-row">
                        <div class="request">
                            <p class="title"><strong>Request:</strong></p>
                            <pre>{
    "credentials":{
        "agencyId": {type: String, Required},
        "key":      {type: String, Required}
    },
    "body":{
        "nid":      {type: Integer, Required},
        "agency":   {type: String, Required},
        "type":     {type: String},
        "fields":   {type: Object},
        "taxonomy": {type: Object},
        "list":     {type: Array}
    }
}</pre>
                        </div>
                        <div class="example">
                            <p class="title"><strong>Example:</strong></p>
                            <textarea readonly="readonly">{
    "credentials":{
        "agencyId":"100000",
        "key":"b11f8f062416fcbd7348ac39ca78e78b3b740cdf"
    },
    "body":{
        "nid":2,
        "agency":"100000",
        "type": "films",
        "fields": {
            "title": {
                "name": "Title",
                "value": "Original title",
                "attr": ["plain text", "attr 2"]
            },
            "images": {
                "name": "Cover images",
                "value": ["serialied image 1", "serialized image 2"],
                "attr": ["420x240"]
            }
        },
        "taxonomy": {
            "genre_tax":{
                "name": "genre",
                "terms": ["Drama", "Romance"]
            },"contry_tax": {
                "name": "country",
                "terms": ["Denmark"]
            }
        },
        "list": [14]
    }
}</textarea>
                        </div>
                        <div class="response">
                            <p class="title"><strong>Response:</strong></p>
                            <pre>{
  "status":  {type: Boolean},
  "message": {type: String},
  "items":   {type: Array, Not used}
}</pre>
                        </div>
                    </div>
                </div>
            </div>
            <div class="operation-method post">
                <div class="heading">
                    <p><strong><span class="method">POST</span> /content</strong> <em>Update an existing content entry</em></p>
                </div>
                <div class="method-doc">
                    <div class="doc-row">
                        <div class="request">
                            <p class="title"><strong>Request:</strong></p>
                            <pre>{
    "credentials":{
        "agencyId": {type: String, Required},
        "key":      {type: String, Required}
    },
    "body":{
        "nid":      {type: Integer, Required},
        "agency":   {type: String, Required},
        "type":     {type: String},
        "fields":   {type: Object},
        "taxonomy": {type: Object},
        "list":     {type: Array}
    }
}</pre>
                        </div>
                        <div class="request">
                            <p class="title"><strong>Example:</strong></p>
                            <textarea readonly="readonly">{
    "credentials":{
        "agencyId":"100000",
        "key":"b11f8f062416fcbd7348ac39ca78e78b3b740cdf"
    },
    "body":{
        "nid":2,
        "agency":"100000",
        "type": "films",
        "fields": {
            "title": {
                "name": "Title",
                "value": "Original title",
                "attr": ["plain text", "attr 2"]
            },
            "images": {
                "name": "Cover images",
                "value": ["serialied image 1", "serialized image 2"],
                "attr": ["420x240"]
            }
        },
        "taxonomy": {
            "genre_tax":{
                "name": "genre",
                "terms": ["Drama", "Romance"]
            },"contry_tax": {
                "name": "country",
                "terms": ["Denmark"]
            }
        },
        "list": [14]
    }
}</textarea>
                        </div>
                        <div class="response">
                            <p class="title"><strong>Response:</strong></p>
                            <pre>{
  "status":  {type: Boolean},
  "message": {type: String},
  "items":   {type: Array, Not used}
}</pre>
                        </div>
                    </div>
                </div>
            </div>
            <div class="operation-method delete">
                <div class="heading">
                    <p><strong><span class="method">DELETE</span> /content</strong> <em>Delete an existing content entry</em></p>
                </div>
                <div class="method-doc">
                    <div class="doc-row">
                        <div class="request">
                            <p class="title"><strong>Request:</strong></p>
                            <pre>{
    "credentials":
    {
        "agencyId": {type: String, Required},
        "key":      {type: String, Required}
    },
    "body":{
        "nid":      {type: Integer, Required},
        "agency":   {type: Integer, Required}
    }
}</pre>
                        </div>
                        <div class="example">
                            <p class="title"><strong>Example:</strong></p>
                            <textarea readonly="readonly">{
    "credentials":
    {
        "agencyId":"100000",
        "key":"b11f8f062416fcbd7348ac39ca78e78b3b740cdf"
    },
    "body":{
        "nid":2,
        "agency":"100000"
    }
}</textarea>
                        </div>
                        <div class="response">
                            <p class="title"><strong>Response:</strong></p>
                            <pre>{
  "status":  {type: Boolean},
  "message": {type: String},
  "items":   {type: Array, Not used}
}</pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /content END -->

    <!-- /content/fetch -->
    <div class="operation">
        <h3>/content/fetch</h3>
        <div class="operation-methods">
            <div class="operation-method get">
                <div class="heading">
                    <p><strong><span class="method">GET</span> /content/fetch</strong> <em>Fetch single or several nodes content</em></p>
                </div>
                <div class="method-doc">
                    <div class="doc-row">
                        <div class="request">
                            <p class="title"><strong>Request:</strong></p>
                            <pre>/content/fetch?agency={type: String, Required}&amp;key={type: String, Required}&amp;node={type: String, Required}</pre>
                        </div>
                        <div class="example">
                            <p class="title"><strong>Example:</strong></p>
                            <input type="text" readonly="readonly" value="/content/fetch?agency=100000&amp;key=b11f8f062416fcbd7348ac39ca78e78b3b740cdf&amp;node=1" />
                            <p>Note: The <em>node</em> param can be either a single node id or a comma-separated list of id's.</p>
                        </div>
                        <div class="response">
                            <p class="title"><strong>Response:</strong></p>
                            <pre>{
  "status": {type: Boolean},
  "message": {type: String},
  "items": {type: Array}
}</pre>
                        </div>
                    </div>
                </div>
            </div>
            <div class="operation-method get">
                <div class="heading">
                    <p><strong><span class="method">GET</span> /content/fetch</strong> <em>Fetch paged and sorted nodes content</em></p>
                </div>
                <div class="method-doc">
                    <div class="doc-row">
                        <div class="request">
                            <p class="title"><strong>Request:</strong></p>
                            <pre>/content/fetch?agency={type: String, Required}&amp;key={type: String, Required}&amp;amount={type: Integer, Required}&amp;sort={type: String}&amp;order={type: String}&amp;type={type: String}&amp;skip={type: Integer}</pre>
                        </div>
                        <p>Note: The <em>sort</em> param is ignored if no <em>order</em> is specified (asc|desc).</p>
                        <div class="example">
                            <p class="title"><strong>Example - Fetch 10 nodes of any type:</strong></p>
                            <input type="text" readonly="readonly" value="/content/fetch?agency=100000&amp;key=b11f8f062416fcbd7348ac39ca78e78b3b740cdf&amp;amount=10" />
                        </div>
                        <div class="example">
                            <p class="title"><strong>Example - Fetch 2 nodes of type 'editorial':</strong></p>
                            <input type="text" readonly="readonly" value="/content/fetch?agency=100000&amp;key=b11f8f062416fcbd7348ac39ca78e78b3b740cdf&amp;amount=2&amp;type=editorial" />
                        </div>
                        <div class="example">
                            <p class="title"><strong>Example - Fetch 2 nodes of type 'spotlight', sorted by node id, ascending:</strong></p>
                            <input type="text" readonly="readonly" value="/content/fetch?agency=100000&amp;key=b11f8f062416fcbd7348ac39ca78e78b3b740cdf&amp;amount=2&amp;type=spotlight&amp;sort=nid&amp;order=asc" />
                        </div>
                        <div class="example">
                            <p class="title"><strong>Example - Fetch 2 nodes of type 'spotlight', starting from 3rd record, sorted by node id, ascending:</strong></p>
                            <input type="text" readonly="readonly" value="/content/fetch?agency=100000&amp;key=b11f8f062416fcbd7348ac39ca78e78b3b740cdf&amp;amount=2&amp;skip=2&amp;type=spotlight&amp;sort=nid&amp;order=asc" />
                            <p>Note: The <em>skip</em> parameter denotes how many records to skip, i.e. start from skip + 1 record in the result.</p>
                        </div>
                        <div class="response">
                            <p class="title"><strong>Response:</strong></p>
                            <pre>{
  "status": {type: Boolean},
  "message": {type: String},
  "items": {type: Array}
}</pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /content/fetch END -->

    <!-- /content/search -->
    <div class="operation">
      <h3>/content/search</h3>
      <div class="operation-methods">
          <div class="operation-method get">
              <div class="heading">
                  <p><strong><span class="method">GET</span> /content/search</strong> <em>Search content</em></p>
              </div>
              <div class="method-doc">
                  <div class="doc-row">
                      <div class="request">
                          <p class="title"><strong>Request:</strong></p>
                          <pre>/content/search?agency={type: String, Required}&amp;key={type: String, Required}&amp;query={type: String, Required}&amp;field={type: String, Required}</pre>
                      </div>
                      <div class="example">
                          <p class="title"><strong>Example - search for nodes with 'ding_event' string inside the 'type' field:</strong></p>
                          <input type="text" readonly="readonly" value="/content/search?agency=100000&amp;key=b11f8f062416fcbd7348ac39ca78e78b3b740cdf&amp;query=ding_news&amp;field=type" />
                          <p>Note: The <em>query</em> param accepts regular expressions, so a partial or patterned search can be performed.</p>
                          <p>Note: The <em>field</em> param is a key found in the response node object. Nested field values can be delimited by dot ("."). Therefore to search in the node title, the value is 'fields.title.value'.</p>
                      </div>
                      <div class="response">
                          <p class="title"><strong>Response:</strong></p>
                        <pre>{
    "status": {type: Boolean},
    "message": {type: String},
    "items": {type: Array}
}</pre>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
    <!-- /content/search END -->

    <!-- /content/related -->
    <div class="operation">
      <h3>/content/related</h3>
      <div class="operation-methods">
          <div class="operation-method get">
              <div class="heading">
                  <p><strong><span class="method">GET</span> /content/related</strong> <em>Fetch content related to taxonomy fields</em></p>
              </div>
              <div class="method-doc">
                  <div class="doc-row">
                      <div class="request">
                          <p class="title"><strong>Request:</strong></p>
                          <pre>/content/related?agency={type: String, Required}&amp;key={type: String, Required}&amp;vocabulary[]={type: String, Required}&amp;terms[]={type: String, Required}</pre>
                      </div>
                      <div class="example">
                          <p class="title"><strong>Example - fetch nodes which contain the taxonomy field named 'field_ding_event_category' with terms present 'Foredrag' and 'Workshop':</strong></p>
                          <input type="text" readonly="readonly" value="/content/related?agency=100000&amp;key=b11f8f062416fcbd7348ac39ca78e78b3b740cdf&amp;vocabulary[]=field_ding_event_category&amp;terms[]=Foredrag,Workshop" />
                          <p>Note: Observe that <em>vocabulary</em> and <em>terms</em> parameters are arrays, meaning tha multiple entries can be defined.</p>
                          <p>Note: Every <em>vocabulary</em> parameter must be paired with <em>terms</em> parameter, i.e. having 2 <em>vocabulary</em> parameters and 3 <em>terms</em> parameters will result in error.</p>
                          <p>Note: Multiple <em>vocabulary</em> and <em>terms</em> parameter entries create a request where the resulting nodes must contain at least one term from each vocabulary.</p>
                          <p>Note: Multiple values in the <em>terms</em> param must be delimited by comma ','.</p>
                      </div>
                      <div class="response">
                          <p class="title"><strong>Response:</strong></p>
                        <pre>{
    "status": {type: Boolean},
    "message": {type: String},
    "items": {type: Array}
}</pre>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
    <!-- /content/related END -->

    <!-- /menu -->
    <div class="operation">
        <h3>/menu</h3>
        <div class="operation-methods">
            <div class="operation-method put">
                <div class="heading">
                    <p><strong><span class="method">PUT</span> /menu</strong> <em>Create new menu entry</em></p>
                </div>
                <div class="method-doc">
                    <div class="doc-row">
                        <div class="request">
                            <p class="title"><strong>Request:</strong></p>
                            <pre>{
    "credentials":{
        "agencyId": {type: String, Required},
        "key":      {type: String, Required}
    },
    "body":{
        "mlid":   {type: Integer, Required},
        "agency": {type: String, Required},
        "type":   {type: String},
        "name":   {type: String},
        "url":    {type: String},
        "order":  {type: Integer}
    }
}</pre>
                        </div>
                        <div class="example">
                            <p class="title"><strong>Example:</strong></p>
                            <textarea readonly="readonly">{
    "credentials":{
        "agencyId":"100000",
        "key":"b11f8f062416fcbd7348ac39ca78e78b3b740cdf"
    },
    "body":{
        "mlid":1,
        "agency":"100000",
        "type": "main",
        "name": "Home",
        "url": "/",
        "order":1
    }
}</textarea>
                        </div>
                        <div class="response">
                            <p class="title"><strong>Response:</strong></p>
                            <pre>{
  "status":  {type: Boolean},
  "message": {type: String},
  "items":   {type: Array, Not used}
}</pre>
                        </div>
                    </div>
                </div>
            </div>
            <div class="operation-method post">
                <div class="heading">
                    <p><strong><span class="method">POST</span> /menu</strong> <em>Update an existing menu entry</em></p>
                </div>
                <div class="method-doc">
                    <div class="doc-row">
                        <div class="request">
                            <p class="title"><strong>Request:</strong></p>
                            <pre>{
    "credentials":{
        "agencyId": {type: String, Required},
        "key":      {type: String, Required}
    },
    "body":{
        "mlid":   {type: Integer, Required},
        "agency": {type: String, Required},
        "type":   {type: String},
        "name":   {type: String},
        "url":    {type: String},
        "order":  {type: Integer}
    }
}</pre>
                        </div>
                        <div class="example">
                            <p class="title"><strong>Example:</strong></p>
                            <textarea readonly="readonly">{
    "credentials":{
        "agencyId":"100000",
        "key":"b11f8f062416fcbd7348ac39ca78e78b3b740cdf"
    },
    "body":{
        "mlid":1,
        "agency":"100000",
        "type": "main",
        "name": "Homepage",
        "url": "/frontpage",
        "order":1
    }
}</textarea>
                        </div>
                        <div class="response">
                            <p class="title"><strong>Response:</strong></p>
                            <pre>{
  "status":  {type: Boolean},
  "message": {type: String},
  "items":   {type: Array, Not used}
}</pre>
                        </div>
                    </div>
                </div>
            </div>
            <div class="operation-method delete">
                <div class="heading">
                    <p><strong><span class="method">DELETE</span> /menu</strong> <em>Delete an existing menu entry</em></p>
                </div>

                <div class="method-doc">
                    <div class="doc-row">
                        <div class="request">
                            <p class="title"><strong>Request:</strong></p>
                            <textarea readonly="readonly">{
    "credentials":{
        "agencyId": {type: String, Required},
        "key":      {type: String, Required}
    },
    "body":{
        "mlid":      {type: Integer, Required},
        "agency":   {type: Integer, Required}
    }
}</textarea>
                        </div>
                        <div class="example">
                            <p class="title"><strong>Example:</strong></p>
                            <textarea readonly="readonly">{
    "credentials":{
        "agencyId":"100000",
        "key":"b11f8f062416fcbd7348ac39ca78e78b3b740cdf"

    },
    "body":{
        "mlid":1,
        "agency":"100001"
    }
}</textarea>
                        </div>
                        <div class="response">
                            <p class="title"><strong>Response:</strong></p>
                            <pre>{
  "status": {type: Boolean},
  "message": {type: String},
  "items": {type: Array, Not used}
}</pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /menu END -->

    <!-- /list -->
    <div class="operation">
        <h3>/list</h3>
        <div class="operation-methods">
            <div class="operation-method put">
                <div class="heading">
                    <p><strong><span class="method">PUT</span> /list</strong> <em>Create new list entry</em></p>
                </div>
                <div class="method-doc">
                    <div class="doc-row">
                        <div class="request">
                            <p class="title"><strong>Request:</strong></p>
                            <pre>{
    "credentials":{
        "agencyId": {type: String, Required},
        "key":      {type: String, Required}
    },
    "body":{
        "nid":      {type: Integer, Required},
        "key":      {type: String, Required},
        "agency":   {type: String, Required},
        "name":     {type: String},
        "nids":     {type: Array},
        "type":     {type: String},
        "promoted": {type: Boolean},
        "weight":   {type: Integer}
    }
}</pre>
                        </div>
                        <div class="example">
                            <p class="title"><strong>Example:</strong></p>
                            <textarea readonly="readonly">{
    "credentials":{
        "agencyId":"100000",
        "key":"b11f8f062416fcbd7348ac39ca78e78b3b740cdf"
    },
    "body":{
        "nid": 1,
        "key": "3fa",
        "agency": "100002",
        "name": "first",
        "nids": [1,2],
        "type": "spotlight",
        "promoted": 1,
        "weight": 1
    }
}</textarea>
                        </div>
                        <div class="response">
                            <p class="title"><strong>Response:</strong></p>
                            <pre>{
  "status":  {type: Boolean},
  "message": {type: String},
  "items":   {type: Array, Not used}
}</pre>
                        </div>
                    </div>
                </div>
            </div>
            <div class="operation-method post">
                <div class="heading">
                    <p><strong><span class="method">POST</span> /list</strong> <em>Update an existing list entry</em></p>
                </div>
                <div class="method-doc">
                    <div class="doc-row">
                        <div class="request">
                            <p class="title"><strong>Request:</strong></p>
                            <pre>{
    "credentials":{
        "agencyId": {type: String, Required},
        "key":      {type: String, Required}
    },
    "body":{
        "nid":      {type: Integer, Required},
        "key":      {type: String, Required},
        "agency":   {type: String, Required},
        "name":     {type: String},
        "nids":     {type: Array},
        "type":     {type: String},
        "promoted": {type: Boolean},
        "weight":   {type: Integer}
    }
}</pre>
                        </div>
                        <div class="example">
                            <p class="title"><strong>Example:</strong></p>
                            <textarea readonly="readonly">{
    "credentials":{
        "agencyId":"100000",
        "key":"b11f8f062416fcbd7348ac39ca78e78b3b740cdf"
    },
    "body":{
        "nid": 1,
        "key": "3fa",
        "agency": "100002",
        "name": "first",
        "nids": [65,66,67],
        "type": "sidebar",
        "promoted": 0,
        "weight": -1
    }
}</textarea>
                        </div>
                        <div class="response">
                            <p class="title"><strong>Response:</strong></p>
                            <pre>{
  "status":  {type: Boolean},
  "message": {type: String},
  "items":   {type: Array, Not used}
}</pre>
                        </div>
                    </div>
                </div>
            </div>
            <div class="operation-method delete">
                <div class="heading">
                    <p><strong><span class="method">DELETE</span> /list</strong> <em>Delete an existing list entry</em></p>
                </div>

                <div class="method-doc">
                    <div class="doc-row">
                        <div class="request">
                            <p class="title"><strong>Request:</strong></p>
                            <textarea readonly="readonly">{
    "credentials":{
        "agencyId": {type: String, Required},
        "key":      {type: String, Required}
    },
    "body":{
        "nid":      {type: Integer, Required},
        "key":      {type: String, Required},
        "agency":   {type: String, Required},
    }
}</textarea>
                        </div>
                        <div class="example">
                            <p class="title"><strong>Example:</strong></p>
                            <textarea readonly="readonly">{
    "credentials":{
        "agencyId":"100000",
        "key":"b11f8f062416fcbd7348ac39ca78e78b3b740cdf"
    },
    "body":{
        "nid":1,
        "key":"3fa",
        "agency":"100000"
    }
}</textarea>
                        </div>
                        <div class="response">
                            <p class="title"><strong>Response:</strong></p>
                            <pre>{
  "status": {type: Boolean},
  "message": {type: String},
  "items": {type: Array, Not used}
}</pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /list END -->

    <!-- /files -->
    <div class="operation">
        <h3>/files/{agency}/{filename}</h3>
        <div class="operation-methods">
            <div class="operation-method get">
                <div class="heading">
                    <p><strong><span class="method">GET</span> /files/{agency}/{filename}</strong> <em>Fetch an image asset (optionally resized)</em></p>
                </div>
                <div class="method-doc">
                    <div class="doc-row">
                        <div class="request">
                            <p class="title"><strong>Request:</strong></p>
                            <pre>/files/{agency}/{filename}?resize={type: String}</pre>
                            <p>Note: If <em>resize</em> parameter is ommitted the original image is served.</p>
                            <p>Note: <em>resize</em> parameter must maintain the following structure: <em>WIDTHxHEIGHT</em></p>
                            <p>Note: Resulted image aspect ratio is preserved. If requested size differs from original aspect ratio, the image is scaled and cropped at the center.</p>
                        </div>
                        <div class="example">
                            <p class="title"><strong>Example:</strong></p>
                            <input type="text" readonly="readonly" value="/files/100000/f623904c5b082f97ea2134bab94af6e2745e0ac3.jpeg?resize=1280x720" />
                        </div>
                        <div class="response">
                            <p class="title"><strong>Response:</strong></p>
                            <p>An image stream with HTTP status 200 if the image is found. HTTP status 404 with a text message otherwise.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /files END -->

    <!-- /taxonomy/terms -->
    <div class="operation">
        <h3>/taxonomy/terms/{vocabulary}/{content_type}/{query}</h3>
        <div class="operation-methods">
            <div class="operation-method get">
                <div class="heading">
                    <p><strong><span class="method">GET</span> /taxonomy/terms/{vocabulary}/{content_type}/{query}</strong> <em>Fetch terms for a given vocabulary in a certain content type based on a search query.</em></p>
                </div>
                <div class="method-doc">
                    <div class="doc-row">
                        <div class="request">
                            <p class="title"><strong>Request:</strong></p>
                            <pre>/taxonomy/terms/{vocabulary}/{content_type}/{query}</pre>
                        </div>
                        <div class="example">
                            <p class="title"><strong>Example:</strong></p>
                            <input type="text" readonly="readonly" value="/taxonomy/terms/field_ding_news_category/ding_news/a?agency=100000&amp;key=b11f8f062416fcbd7348ac39ca78e78b3b740cdf" />
                            <p>Note: The <em>query</em> parameter accepts regular expressions.</p>
                        </div>
                        <div class="response">
                            <p class="title"><strong>Response:</strong></p>
                            <pre>{
  "status": {type: Boolean},
  "message": {type: String},
  "items": {type: Array}
}</pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /taxonomy/terms END -->

    <!-- /taxonomy/vocabularies -->
    <div class="operation">
        <h3>/taxonomy/vocabularies/{content_type}</h3>
        <div class="operation-methods">
            <div class="operation-method get">
                <div class="heading">
                    <p><strong><span class="method">GET</span> /taxonomy/vocabularies/{content_type}</strong> <em>Fetch vocabularies for a given content type.</em></p>
                </div>
                <div class="method-doc">
                    <div class="doc-row">
                        <div class="request">
                            <p class="title"><strong>Request:</strong></p>
                            <pre>/taxonomy/vocabularies/{content_type}?agency={type: String, Required}&amp;key={type: String, Required}</pre>
                        </div>
                        <div class="example">
                            <p class="title"><strong>Example:</strong></p>
                            <input type="text" readonly="readonly" value="/taxonomy/vocabularies/ding_news?agency=100000&amp;key=b11f8f062416fcbd7348ac39ca78e78b3b740cdf" />
                        </div>
                        <div class="response">
                            <p class="title"><strong>Response:</strong></p>
                            <pre>{
  "status": {type: Boolean},
  "message": {type: String},
  "items": {type: Array, Not used}
}</pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /taxonomy/vocabularies END -->


  </div>
{% endblock %}
