{% extends 'base.html.twig' %}

{% block body %}
  <div class="operations-doc">
    <div class=usage>
      <h3>Introduction</h3>
      <br />
      <h3>Request</h3>
      <p>Each entity manipulations are made through it's own URI and the service supports four (4) methods.</p>
      <p>All available possibilities are described below (click to expand).</p>
      <p>Each <strong>request</strong> (for PUT/POST/DELETE) has the following structure:</p>
      <pre>{
    "credentials":{
        "agencyId": {type: String, Required},
        "key":      {type: String, Required}
    },
    "body":{
        ...
    }
}</pre>
      <p>The <em>credentials</em> section is used for basic authorisation and the <em>body</em> defines the entity that has to manipulated.
      <p>Best to note the <em>key</em> parameter.</p>
      <p>It is used for creating a basic signature of the request, so one agency could not access or modify data owned by another agency.</p>
      <p>This is a SHA1 hash created from agency id thus unique hash (<em>key</em> field) stored for each agency record in the MongoDB, in Agency collection.</p>
      <p>For example, let's say that we have an agency <em>996000</em> with unique stored key value as <em>3fa</em>.</p>
      <p>To be able to access the service, it is required to generate a hash, that is to be passed in the <em>key</em> property of the request.</p>
      <p>For PHP apps, this would use this sample code:</p>
      <pre>$agencyId = '996000';
$agencyKey = '3fa';
$key = sha1($agencyId . $agencyKey); // 952933c6ef9962f26e919f05637bb7e6061f064f</pre>
      <p>This way the request would look like:</p>
      <pre>{
    "credentials":{
        "agencyId": "996000",
        "key":      "952933c6ef9962f26e919f05637bb7e6061f064f"
    },
    "body":{
        ...
    }
}</pre>
    <p>In case of a <strong>GET</strong> request, the <em>agencyId</em> and <em>key</em> are passed in the URL itself.</p>
    <br />
    <h3>Response</h3>
    <p>Each <strong>response</strong> is a JSON object with the following structure:</p>
    <pre>{
  "status":  {type: Boolean},
  "message": {type: String},
  "items":   {type: Array, Not used}
}</pre>
    <p>Where <em>status</em> property is either TRUE or FALSE, denoting the success of the request.</p>
    <p><em>message</em> will contain a status message, depending on the <em>status</em> property.</p>
    <p><em>items</em> property is populated only when retrieving content (see <strong>/content/fetch</strong>).</p>
    </div>
    <br />
    <div class="operation">
        <h3>/content</h3>
        <div class="operation-methods">
            <div class="operation-method put">
                <div class="heading">
                    <p><strong><span class="method">PUT</span> /content</strong> <em>Create new content entry</em></p>
                </div>
                <div class="method-doc">
                    <div class="doc-row">
                        <div class="request">
                            <p class="title"><strong>Request:</strong></p>
                            <pre>{
    "credentials":{
        "agencyId": {type: String, Required},
        "key":      {type: String, Required}
    },
    "body":{
        "nid":      {type: Integer, Required},
        "agency":   {type: String, Required},
        "type":     {type: String},
        "fields":   {type: Object},
        "taxonomy": {type: Object},
        "list":     {type: Array}
    }
}</pre>
                        </div>
                        <br />
                        <div class="example">
                            <p class="title"><strong>Example:</strong></p>
                            <textarea readonly="readonly">{
    "credentials":{
        "agencyId":"100000",
        "key":"b11f8f062416fcbd7348ac39ca78e78b3b740cdf"
    },
    "body":{
        "nid":2,
        "agency":"100000",
        "type": "films",
        "fields": {
            "title": {
                "name": "Title",
                "value": "Original title",
                "attr": ["plain text", "attr 2"]
            },
            "images": {
                "name": "Cover images",
                "value": ["serialied image 1", "serialized image 2"],
                "attr": ["420x240"]
            }
        },
        "taxonomy": {
            "genre_tax":{
                "name": "genre",
                "terms": ["Drama", "Romance"]
            },"contry_tax": {
                "name": "country",
                "terms": ["Denmark"]
            }
        },
        "list": [14]
    }
}</textarea>
                        </div>
                        <div class="response">
                            <p class="title"><strong>Response:</strong></p>
                            <pre>{
  "status":  {type: Boolean},
  "message": {type: String},
  "items":   {type: Array, Not used}
}</pre>
                        </div>
                    </div>
                </div>
            </div>
            <div class="operation-method post">
                <div class="heading">
                    <p><strong><span class="method">POST</span> /content</strong> <em>Update an existing content entry</em></p>
                </div>
                <div class="method-doc">
                    <div class="doc-row">
                        <div class="request">
                            <p class="title"><strong>Request:</strong></p>
                            <pre>{
    "credentials":{
        "agencyId": {type: String, Required},
        "key":      {type: String, Required}
    },
    "body":{
        "nid":      {type: Integer, Required},
        "agency":   {type: String, Required},
        "type":     {type: String},
        "fields":   {type: Object},
        "taxonomy": {type: Object},
        "list":     {type: Array}
    }
}</pre>
                        </div>
                        <div class="request">
                            <p class="title"><strong>Example:</strong></p>
                            <textarea readonly="readonly">{
    "credentials":{
        "agencyId":"100000",
        "key":"b11f8f062416fcbd7348ac39ca78e78b3b740cdf"
    },
    "body":{
        "nid":2,
        "agency":"100000",
        "type": "films",
        "fields": {
            "title": {
                "name": "Title",
                "value": "Original title",
                "attr": ["plain text", "attr 2"]
            },
            "images": {
                "name": "Cover images",
                "value": ["serialied image 1", "serialized image 2"],
                "attr": ["420x240"]
            }
        },
        "taxonomy": {
            "genre_tax":{
                "name": "genre",
                "terms": ["Drama", "Romance"]
            },"contry_tax": {
                "name": "country",
                "terms": ["Denmark"]
            }
        },
        "list": [14]
    }
}</textarea>
                        </div>
                        <div class="response">
                            <p class="title"><strong>Response:</strong></p>
                            <pre>{
  "status":  {type: Boolean},
  "message": {type: String},
  "items":   {type: Array, Not used}
}</pre>
                        </div>
                    </div>
                </div>
            </div>
            <div class="operation-method delete">
                <div class="heading">
                    <p><strong><span class="method">DELETE</span> /content</strong> <em>Delete an existing content entry</em></p>
                </div>
                <div class="method-doc">
                    <div class="doc-row">
                        <div class="request">
                            <p class="title"><strong>Request:</strong></p>
                            <pre>{
    "credentials":
    {
        "agencyId": {type: String, Required},
        "key":      {type: String, Required}
    },
    "body":{
        "nid":      {type: Integer, Required},
        "agency":   {type: Integer, Required}
    }
}</pre>
                        </div>
                        <div class="example">
                            <p class="title"><strong>Example:</strong></p>
                            <textarea readonly="readonly">{
    "credentials":
    {
        "agencyId":"100000",
        "key":"b11f8f062416fcbd7348ac39ca78e78b3b740cdf"
    },
    "body":{
        "nid":2,
        "agency":"100000"
    }
}</textarea>
                        </div>
                        <div class="response">
                            <p class="title"><strong>Response:</strong></p>
                            <pre>{
  "status":  {type: Boolean},
  "message": {type: String},
  "items":   {type: Array, Not used}
}</pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="operation">
        <h3>/content/fetch</h3>
        <div class="operation-methods">
            <div class="operation-method get">
                <div class="heading">
                    <p><strong><span class="method">GET</span> /content/fetch</strong> <em>Fetch single node content</em></p>
                </div>
                <div class="method-doc">
                    <div class="doc-row">
                        <div class="request">
                            <p class="title"><strong>Request:</strong></p>
                            <pre>/content/fetch?agency={type: String, Required}&key={type: String, Required}&node={type: Integer, Required}</pre>
                        </div>
                        <div class="example">
                            <p class="title"><strong>Example:</strong></p>
                            <input type="text" readonly="readonly" value="/content/fetch?agency=100000&key=b11f8f062416fcbd7348ac39ca78e78b3b740cdf&node=1" />
                        </div>
                        <div class="response">
                            <p class="title"><strong>Response:</strong></p>
                            <pre>{
  "status": {type: Boolean},
  "message": {type: String},
  "items": {type: Array}
}</pre>
                        </div>
                    </div>
                </div>
            </div>
            <div class="operation-method get">
                <div class="heading">
                    <p><strong><span class="method">GET</span> /content/fetch</strong> <em>Fetch several nodes content sorted by a property</em></p>
                </div>
                <div class="method-doc">
                    <div class="doc-row">
                        <div class="request">
                            <p class="title"><strong>Request:</strong></p>
                            <pre>/content/fetch?agency={type: String, Required}&key={type: String, Required}&amount={type: Integer, Required}&sort={type: String, Required}</pre>
                        </div>
                        <div class="example">
                            <p class="title"><strong>Example:</strong></p>
                            <input type="text" readonly="readonly" value="/content/fetch?agency=100000&key=b11f8f062416fcbd7348ac39ca78e78b3b740cdf&amount=10&sort=nid" />
                        </div>
                        <div class="response">
                            <p class="title"><strong>Response:</strong></p>
                            <pre>{
  "status": {type: Boolean},
  "message": {type: String},
  "items": {type: Array}
}</pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="operation">
        <h3>/menu</h3>
        <div class="operation-methods">
            <div class="operation-method put">
                <div class="heading">
                    <p><strong><span class="method">PUT</span> /menu</strong> <em>Create new menu entry</em></p>
                </div>
                <div class="method-doc">
                    <div class="doc-row">
                        <div class="request">
                            <p class="title"><strong>Request:</strong></p>
                            <pre>{
    "credentials":{
        "agencyId": {type: String, Required},
        "key":      {type: String, Required}
    },
    "body":{
        "mlid":   {type: Integer, Required},
        "agency": {type: String, Required},
        "type":   {type: String},
        "name":   {type: String},
        "url":    {type: String},
        "order":  {type: Integer}
    }
}</pre>
                        </div>
                        <div class="example">
                            <p class="title"><strong>Example:</strong></p>
                            <textarea readonly="readonly">{
    "credentials":{
        "agencyId":"100000",
        "key":"b11f8f062416fcbd7348ac39ca78e78b3b740cdf"
    },
    "body":{
        "mlid":1,
        "agency":"100000",
        "type": "main",
        "name": "Home",
        "url": "/",
        "order":1
    }
}</textarea>
                        </div>
                        <div class="response">
                            <p class="title"><strong>Response:</strong></p>
                            <pre>{
  "status":  {type: Boolean},
  "message": {type: String},
  "items":   {type: Array, Not used}
}</pre>
                        </div>
                    </div>
                </div>
            </div>
            <div class="operation-method post">
                <div class="heading">
                    <p><strong><span class="method">POST</span> /menu</strong> <em>Update an existing menu entry</em></p>
                </div>
                <div class="method-doc">
                    <div class="doc-row">
                        <div class="request">
                            <p class="title"><strong>Request:</strong></p>
                            <pre>{
    "credentials":{
        "agencyId": {type: String, Required},
        "key":      {type: String, Required}
    },
    "body":{
        "mlid":   {type: Integer, Required},
        "agency": {type: String, Required},
        "type":   {type: String},
        "name":   {type: String},
        "url":    {type: String},
        "order":  {type: Integer}
    }
}</pre>
                        </div>
                        <div class="example">
                            <p class="title"><strong>Example:</strong></p>
                            <textarea readonly="readonly">{
    "credentials":{
        "agencyId":"100000",
        "key":"b11f8f062416fcbd7348ac39ca78e78b3b740cdf"
    },
    "body":{
        "mlid":1,
        "agency":"100000",
        "type": "main",
        "name": "Homepage",
        "url": "/frontpage",
        "order":1
    }
}</textarea>
                        </div>
                        <div class="response">
                            <p class="title"><strong>Response:</strong></p>
                            <pre>{
  "status":  {type: Boolean},
  "message": {type: String},
  "items":   {type: Array, Not used}
}</pre>
                        </div>
                    </div>
                </div>
            </div>
            <div class="operation-method delete">
                <div class="heading">
                    <p><strong><span class="method">DELETE</span> /menu</strong> <em>Delete an existing menu entry</em></p>
                </div>

                <div class="method-doc">
                    <div class="doc-row">
                        <div class="request">
                            <p class="title"><strong>Example:</strong></p>
                            <textarea readonly="readonly">{
    "credentials":{
        "agencyId": {type: String, Required},
        "key":      {type: String, Required}
    },
    "body":{
        "mlid":      {type: Integer, Required},
        "agency":   {type: Integer, Required}
    }
}</textarea>
                        </div>
                        <div class="example">
                            <p class="title"><strong>Example:</strong></p>
                            <textarea readonly="readonly">{
    "credentials":{
        "agencyId":"100000",
        "key":"b11f8f062416fcbd7348ac39ca78e78b3b740cdf"

    },
    "body":{
        "mlid":1,
        "agency":"100001"
    }
}</textarea>
                        </div>
                        <div class="response">
                            <p class="title"><strong>Response:</strong></p>
                            <pre>{
  "status": {type: Boolean},
  "message": {type: String},
  "items": {type: Array, Not used}
}</pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="operation">
        <h3>/list</h3>
        <div class="operation-methods">
            <div class="operation-method put">
                <div class="heading">
                    <p><strong><span class="method">PUT</span> /list</strong> <em>Create new list entry</em></p>
                </div>
                <div class="method-doc">
                    <div class="doc-row">
                        <div class="request">
                            <p class="title"><strong>Request:</strong></p>
                            <pre>{
    "credentials":{
        "agencyId": {type: String, Required},
        "key":      {type: String, Required}
    },
    "body":{
        "nid":      {type: Integer, Required},
        "key":      {type: String, Required},
        "agency":   {type: String, Required},
        "name":     {type: String},
        "nids":     {type: Array},
        "type":     {type: String},
        "promoted": {type: Boolean}
    }
}</pre>
                        </div>
                        <div class="example">
                            <p class="title"><strong>Example:</strong></p>
                            <textarea readonly="readonly">{
    "credentials":{
        "agencyId":"100000",
        "key":"b11f8f062416fcbd7348ac39ca78e78b3b740cdf"
    },
    "body":{
        "nid": 1,
        "key": "3fa",
        "agency": "100002",
        "name": "first",
        "nids": [1,2],
        "type": "spotlight",
        "promoted": 1
    }
}</textarea>
                        </div>
                        <div class="response">
                            <p class="title"><strong>Response:</strong></p>
                            <pre>{
  "status":  {type: Boolean},
  "message": {type: String},
  "items":   {type: Array, Not used}
}</pre>
                        </div>
                    </div>
                </div>
            </div>
            <div class="operation-method post">
                <div class="heading">
                    <p><strong><span class="method">POST</span> /list</strong> <em>Update an existing list entry</em></p>
                </div>
                <div class="method-doc">
                    <div class="doc-row">
                        <div class="request">
                            <p class="title"><strong>Request:</strong></p>
                            <pre>{
    "credentials":{
        "agencyId": {type: String, Required},
        "key":      {type: String, Required}
    },
    "body":{
        "nid":      {type: Integer, Required},
        "key":      {type: String, Required},
        "agency":   {type: String, Required},
        "name":     {type: String},
        "nids":     {type: Array},
        "type":     {type: String},
        "promoted": {type: Boolean}
    }
}</pre>
                        </div>
                        <div class="example">
                            <p class="title"><strong>Example:</strong></p>
                            <textarea readonly="readonly">{
    "credentials":{
        "agencyId":"100000",
        "key":"b11f8f062416fcbd7348ac39ca78e78b3b740cdf"
    },
    "body":{
        "nid": 1,
        "key": "3fa",
        "agency": "100002",
        "name": "first",
        "nids": [65,66,67],
        "type": "sidebar",
        "promoted": 0
    }
}</textarea>
                        </div>
                        <div class="response">
                            <p class="title"><strong>Response:</strong></p>
                            <pre>{
  "status":  {type: Boolean},
  "message": {type: String},
  "items":   {type: Array, Not used}
}</pre>
                        </div>
                    </div>
                </div>
            </div>
            <div class="operation-method delete">
                <div class="heading">
                    <p><strong><span class="method">DELETE</span> /list</strong> <em>Delete an existing list entry</em></p>
                </div>

                <div class="method-doc">
                    <div class="doc-row">
                        <div class="request">
                            <p class="title"><strong>Request:</strong></p>
                            <textarea readonly="readonly">{
    "credentials":{
        "agencyId": {type: String, Required},
        "key":      {type: String, Required}
    },
    "body":{
        "nid":      {type: Integer, Required},
        "key":      {type: String, Required},
        "agency":   {type: String, Required},
    }
}</textarea>
                        </div>
                        <div class="example">
                            <p class="title"><strong>Example:</strong></p>
                            <textarea readonly="readonly">{
    "credentials":{
        "agencyId":"100000",
        "key":"b11f8f062416fcbd7348ac39ca78e78b3b740cdf"
    },
    "body":{
        "nid":1,
        "key":"3fa",
        "agency":"100000"
    }
}</textarea>
                        </div>
                        <div class="response">
                            <p class="title"><strong>Response:</strong></p>
                            <pre>{
  "status": {type: Boolean},
  "message": {type: String},
  "items": {type: Array, Not used}
}</pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
{% endblock %}
