parameters:
    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    #Mongo ODM related settings.
    mongo_host:        mongodb://localhost:27017
    mongo_db:          mobilesearch

    timezone: "Europe/Copenhagen"
    # Images directory, relative to the 'web' directory.
    images_dir: "storage/images"
    # Web directory path. One might not want to edit this.
    web_dir: "%kernel.root_dir%/../web"
