parameters:
    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    #Mongo ODM related settings.
    mongo_host:        mongodb://localhost:27017
    mongo_db:          mobilesearch

    timezone: "Europe/Copenhagen"
    # Images directory, relative to the 'web' directory.
    images_dir: "storage/images"
    # Web directory path. One might not want to edit this.
    web_dir: "%kernel.root_dir%/../web"

    # Default content index.
    mongo_content_index:
        - [ {nid:1}, {name:node_id} ]
        - [ {fields.author.value: 1}, {name:author} ]
        - [ {fields.title.value: 1}, {name:title} ]
        - [ {fields.created.value: -1}, {name:created} ]
        - [ {fields.changed.value: -1}, {name:changed} ]

    response_age: 600
