parameters:
    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    #Mongo ODM related settings.
    mongo_host:        mongodb://localhost:27017
    mongo_db:          mobilesearch

    timezone: "Europe/Copenhagen"
    web_dir: "%kernel.root_dir%/../web"
