* {
  font-family: arial, tahoma;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

body {
  padding: 10px;
}

input,
textarea,
.operation,
.operation-method,
.doc-row,
pre {
  border: 1px solid #CCC;
  border-radius: 5px;
  padding: 5px;
}

.operations-doc {
  margin: 0 auto;
  width: 1050px;
}

.operation:hover {
  background-color: #FFD;
}

.operation,
.operation-method {
  margin-bottom: 10px;
}

.title {
  font-style: italic;
}

.operation h3,
.operation-method .heading {
  cursor: pointer;
  display: block;
}

.operation-method .heading .method {
  background-color: gray;
  border-radius: 2px;
  color: #fff;
  font-size: 1.4em;
  padding: 2px;
}

.operation .operation-methods,
.operation-method .method-doc {
  display: none;
  margin-bottom: 10px;
}

.operation-methods,
.method-doc {
  padding-left: 20px;
}

.doc-row {
  background-color: #fff;
}

.operation-methods,
.doc-row {
  margin-top: 10px;
}

.operation-method.put:hover {
  background-color: #e6ffcc;
}
.operation-method.put .method {
  background-color: green;
}

.operation-method.post:hover {
  background-color: #ffe6cc;
}
.operation-method.post .method {
  background-color: orange;
}
.operation-method.delete:hover {
  background-color: #ffcccc;
}
.operation-method.delete .method {
  background-color: red;
}

input,
textarea {
  width: 99%;
}

textarea {
  height:200px;
}
